<!-- by TOH EE LIN -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'adminDashboard' %}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'plantManagement' %}">Plant Management</a>
                    <a class="nav-item nav-link" href="{% url 'orderManagement' %}">Order Management</a>
                    <a class="nav-item nav-link" href="{% url 'deliveryManagement' %}">Delivery Management</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <div class="ml-auto navbar-text">
                Welcome, Ee Lin
            </div>
        </div>
    </nav>

    <div class="container mt-4 d-flex justify-content-center align-items-center vh-100">
        <h1 class="mb-4 text-center display-4">Welcome to Admin Dashboard</h1>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
