<!-- by TOH EE LIN -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Plant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'adminDashboard' %}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'plantManagement' %}">Plant Management</a>
                    <a class="nav-item nav-link" href="{% url 'orderManagement' %}">Order Management</a>
                    <a class="nav-item nav-link" href="{% url 'deliveryManagement' %}">Delivery Management</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5 form-container">
        <div class="text-center">
            <h2>Create New Plant Form</h2>
        </div>

        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        <form action="{% url 'createPlant' %}" method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}
            <div class="mb-3 form-row">
                <label for="plant-name" class="form-label">Enter Plant Name</label>
                <input type="text" id="plant-name" name="plant_name" class="form-control">
            </div>
            <div class="mb-3 form-row">
                <label for="plant-description" class="form-label">Enter Plant Descriptions</label>
                <textarea id="plant-description" name="plant_description" class="form-control"></textarea>
            </div>
            <div class="mb-3 form-row">
                <label for="plant-quantity" class="form-label">Enter Plant Quantity</label>
                <input type="number" id="plant-quantity" name="plant_availability" class="form-control">
            </div>
            <div class="mb-3 form-row">
                <label for="plant-price" class="form-label">Enter Plant Price</label>
                <input type="number" id="plant-price" name="plant_price" class="form-control">
            </div>
            <div class="mb-3 form-row">
                <label for="plant-image" class="form-label">Choose Image</label>
                <input type="file" id="plant-image" name="plant_image" class="form-control">
            </div>
            <div class="form-buttons">
                <a href="{% url 'plantManagement' %}" class="btn btn-secondary">Back</a>
                <input type="submit" value="Confirm" class="btn btn-primary">
            </div>
        </form>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
