<!-- by TOH EE LIN -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!--JavaScript to navigate to create form page-->
    <script>
        function redirectToCreatePlantForm() {
            // Redirect to the URL for create a new plant
            window.location.href = "{% url 'createPlant' %}";
        }
    </script>

     <!--JavaScript to navigate to update form page-->
    <script>
        function redirectToUpdatePlantForm(plant_id) {
            // Redirect to the URL for update a plant with the specific ID
            window.location.href = `/adm/plant/update/${plant_id}/`;        
        }
    </script>

    <!-- Include JavaScript for confirmation dialog -->
    <script type="text/javascript">
        function confirmDelete() {
            return confirm('Are you sure you want to delete this plant?');
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'adminDashboard' %}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'plantManagement' %}">Plant Management</a>
                    <a class="nav-item nav-link" href="{% url 'orderManagement' %}">Order Management</a>
                    <a class="nav-item nav-link" href="{% url 'deliveryManagement' %}">Delivery Management</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4 main-content">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center mb-0">
                    <!--Display successful plant creation/update message-->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class="form-inline d-inline" action="{% url 'plantManagement' %}" method="get">
                        <input type="text" class="form-control mr-2" name="search_query" placeholder="Search Plant by Plant Name" value="{{ search_query }}" style="width: 80%;">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    {% if error_message %}
                        <div class="alert alert-danger mt-2">{{ error_message }} </div>
                    {% endif %}
                </div>
                <div class="text-center"> 
                    <button class="btn btn-success mt-2" onclick="redirectToCreatePlantForm()">Create New Plant</button>
                </div>

                {% for plant in plants %}
                <div class="plant-container card mb-5">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{plant.plant_image.url}}" class="card-img-top" alt="Plant Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{plant.plant_name}}</b></h5>
                                <p class="card-text"><b>Plant ID:</b> {{plant.id}}</p>
                                <p class="card-text text-justify"><b>Description:</b> <br>{{plant.plant_description}}</br></p>
                                <p class="card-text"><b>Price:</b> {{plant.plant_price}}</p>
                                <p class="card-text"><b>Availability:</b> {{plant.plant_availability}}</p>

                                <div class="info-buttons">
                                    <button class="btn btn-primary btn-sm" onclick="redirectToUpdatePlantForm({{ plant.id }})">Edit</button>
                                    <form action="{% url 'deletePlant' plant.id %}" method="post" onsubmit="return confirmDelete();" class="d-inline">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
                                    </form>                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews section -->
                    <div class="card-footer">
                        <h5 class="card-title reviews-title">Reviews</h5>
                        {% for review in plant.reviews %}
                            <div class="list-group">
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1"><b>{{ review.order_item.order.customer.customer_name }} (Rating: {{ review.rating }} star)</b></h6>
                                    </div>
                                    <p class="mb-1">Comment: {{ review.comment }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-muted">No reviews yet.</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>